

.upcomingContainer
{
  border-color: #4e8aca;
  border-width: 6px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-family: '';
  width:50%;
  margin-left: 25%;
  margin-top: 40px;
  font-family: 'Podkova';
  color: black;
 
  
}

.upcomingHeading {
  font-size: 30px;
  
}

ul.upcomingList {
  list-style: Disc;
  font-size: 30px;
}


.eventPage_gallery{
  display: grid;

  grid-template-columns: repeat(2, 500px);
  gap: 20px;

  justify-content: center;

  margin-top: 50px;
}


.eventPageImage {
  position: relative;

  width: 500px;
  height: 500px;

  overflow: hidden;
  border-radius: 12px;
  
  text-align: center;
  font-family: 'Podkova', serif;
  transition: 0.3s ease;
  margin-bottom: 20px;
  border-width: 6px;
  border-style: solid;
  border-color:#4e8aca
  
}

/* image */
.eventPageImage img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: block;
  
  
  
}



.eventPageHeading {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}


.eventPageImage:hover{
  transform: scale(1.05);
  box-shadow: 7px 8px 20px rgba(0,0,0,0.35);
}


@media (max-width: 1200px) {
  .eventPage_gallery {
    grid-template-columns: repeat(1, 500px);
  }
}


