
.homepage {
  margin : 0;
}

/* navigation bar*/

.topnav {
  overflow: hidden;
  align-items: center;
  display : flex;
  flex-direction: row;
  background-color: #4e8aca;
  justify-content: space-between;
  padding-right : 15px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  color : white;
  text-decoration: none;
  
  
  
}

.ewblogo {
  width: 200px;
  

}

.navLinks a {
  color : black;
  text-decoration: none;
  font-size: 25px;
  background-color: white;
  padding-right : 25px;
  padding-left: 25px;
  border-radius: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Podkova', serif;
  transition: background-color 0.3s;
}

.navLinks a:hover {
  background-color: #4e8aca;
  color : white;
  cursor:pointer;
}

/**********************************************/
/* code for hamburger icon for smaller screens*/
.menuIcon {
  display: none;
  width: 3px;
  height: 3px;
}

.hamMenu {
  display: none;
  flex-direction: column;
}
.hamMenu a {
  color: white;
  padding: 14px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  font-family: 'Podkova', serif;  
  background-color: #4e8aca;
  
}


.navContainer{
  display:none;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;
  }

@media screen and (max-width: 875px) {
  .navLinks {
    display: none;
  }

  .navContainer {
   display: block;
   cursor:pointer;
  }
    
  .hamMenu.show {
    display:flex;
  }
}

/****************************/
/*Main Photo in the homePage*/
.home_after_navbar {
  position:relative;
  display:flex;
  align-content: center;
}

.homeMainPhoto {
  display: flex;
  height: 500px;
  width: 100%; 
  object-fit: cover;
  object-position: center;
  position: relative;
  
}

.homeTitle {
  display:flex;
  align-items: center;
  position: absolute;
  color: black;
  background-color: rgb(255, 255, 255, 0.3);
  bottom: 350px;
  font-size: 25px;
  width: fit-content;
  left:50%;
  transform: translateX(-50%);
  flex-direction: column;
  font-family: Playfair Display, serif ;
  border-radius: 10px;
  padding:5px;
}

h1,h2 {
  margin:5px;
  white-space: nowrap;
  width: fit-content;
  text-transform: uppercase;
}


.homecaption {
  color: black;
  margin-top: 5px;
  margin-right:5px;
  text-align: right;
  font-family: Montserrat, serif;
  text-transform: uppercase;
  
}

/************************/
/*Homepage about us section*/

.homeHeading {
  font-family: Radley, sans-serif;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  
  
}

.aboutus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.homeparagraph {
  width:40%;
  word-wrap: break-word;
 

}

.aboutgallery {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 250px);

}

/* image container */
.aboutimage {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  
  
}

/* actual image */
.aboutimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imagecaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 18px;
  font-family: Radley, sans-serif;
  text-align: center;
}


@media screen and (max-width: 980px) {

  .aboutus {
    flex-direction: column;

  }

  .homeparagraph {
  width:100%;
  word-wrap: break-word;

  }

  .aboutgallery{
    grid-template-columns: repeat(2, 205px);
    grid-template-rows: repeat(2, 205px);
    justify-content: center;
    margin-top: 15px;

  }
}

/************************/
/*Homepage Current and Past Projects section*/
